.planes-container {
    background-color: #fff;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;    
}

.card-container-child{
    background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 280px;
    height: 500px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
}

.card-container-child:nth-child(2) {
    transform: scale(1.05);
    background: #242424;
    color: #fff;
  }
  
  .card-container-child:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #fff;
  }

  .card-container-child-title{
    padding: 1rem 0 1rem 0;
  }

  .card-container-child-price{
    padding: 1rem 0 1rem 0;
  }

  .card-container-child-subtitle{
    padding: 1rem 0 0.5rem 0;
  }
  .card-container-child-list{
    padding: 0.5rem 0 1rem 0;
  }
  .card-container-child h7{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.planes-container h1 {
    color: #000;
    padding: 20px;
}



.beneficios-container {
    background-color: #fff;
    padding: 1rem 0 1rem 0;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-panel-acf {
    margin-bottom: 4%;
}