.dashboard-container {
    background-color: #fff;
    padding: 1rem 0 1rem 0;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
  }